.category {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
  cursor: pointer; /* Tambahkan agar judul terlihat dapat diklik */
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  overflow: hidden;
}

.category-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #ececec;
  }
}

/* Animasi slide-down */
.animate-slide-down {
  animation: slideDown 5s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

