.main-page-card {
  /* Tambahkan style umum jika ada */
}

.card-image-section {
  background-color: #e5e7eb; /* bg-gray-200 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px; /* p-2.5 */
  border-top-left-radius: 0.75rem; /* rounded-tl-lg */
  width: 100%;
}

.card-image {
  height: 113px;
  object-fit: cover;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px; /* gap-2 */
  align-items: start;
  justify-content: start;
  padding: 12px 24px; /* px-3 py-2 */
  width: 196px;
}

.card-title {
  color: #475569; /* text-blue_gray-900 */
  font-size: 18px; /* text-lg */
  font-weight: 600; /* SemiBold */
  width: 100%;
}

.card-description {
  line-height: 18px; /* leading-[18.00px] */
  max-width: 172px; /* max-w-[172px] */
  color: #94a3b8; /* text-blue_gray-500 */
  font-size: 12px; /* text-xs */
  font-weight: 500; /* Medium */
}

.card-price {
  color: #991b1b; /* text-red-900_01 */
  font-size: 18px; /* text-lg */
  font-weight: 600; /* SemiBold */
  width: 100%;
}
